*{
    /* outline: 1px dashed rgb(255, 255, 255); */
    outline-offset: -1px;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 10px;
    padding: 10px;
}

body header{
    align-self: center;
    border-bottom-style: solid;
    border-width: 6px;
    border-color: #A4749F;
}

body header nav{
    background-color: #382e48;
    width: 100%;
    height: 30%;
    text-align: center;
}

body header nav ul{
    display: inline-block;
    padding:10px;
 }

body header nav ul li{
     float: left;
     margin: 10px;
 }

body header nav a{
    text-decoration: none;
    font-weight: bold;
    color:#FDECFB;
    text-shadow: 0 0 2px #000000;
}

body main{
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2%;

}

body main div{
    background-color: #382e48;
}

body main div h2{
    width: 100%;
    background-color: #382e48;
    font-size: 28px;
}

body main div img{
    width: 100%;
    background-color: #382e48;
    border: #000000;
    border-width: 3px;
    border-bottom-style: solid;
}

body main div p{
    width: 100%;
    background-color: #382e48;
}

body main div span{
    flex-basis: 45%;
    height: 40px;
    align-self: center;
    color: #3ee0c5;
    background-color: #382e48;
}

#one{
    width: 100%;
    background-color: #382e48;
    margin-left: 25px;
    flex-basis: 45%;
    height: 230px;
}

#two{
    flex-basis: 45%;
    height: 40px;
    align-self: center;
}

#three{
    flex-basis: 100%;
    margin-top: 35px;
    height: 60px;
    margin-bottom: 25px;
}

#four{
    flex-basis: 60%;
    margin-top: 25px;
    height: 225px;
    background-color: #A4749F;
    box-shadow: 10px 10px #000000;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    margin-bottom: 10px;
}

#four h2{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    font-weight:400;
    color: #3ee0c5;
    background-color: transparent;
}

#four li{
    background-color: #A4749F;
    color:#FDECFB;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    text-align: left;
}

#fifth{
    flex-basis: 40%;
    height: 135px;
    background-color:#FDECFB;
    box-shadow: 10px 10px #000000;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    margin-top: -50px;
    margin-bottom: 10px;
}

#fifth h2{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    font-weight:400;
    color: #A4749F;
    background-color: transparent;
}

#fifth li{
    background-color: transparent;
    color:#A4749F;
    margin-left: 30px;
    margin-right: 15px;
    margin-bottom: 5px;
    text-align: left;
}

#six{
    flex-basis: 55%;
    height: 175px;
    background-color:#382e48;
    box-shadow: 10px 10px #000000;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    margin-top: 30px;
    margin-left: -50px;
    margin-bottom: 10px;
}

#six h2{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    font-weight:400;
    color: #A4749F;
    background-color: transparent;
}

#six li{
    background-color: transparent;
    color:#A4749F;
    margin-left: 30px;
    margin-right: 15px;
    margin-bottom: 5px;
    text-align: left;
}

#seven{
    background-color: transparent;
    flex-basis: 100%;
    margin-top: 50px;
}

#seven p{
    background-color: transparent;
    text-align: center;
    flex-basis: 100%;
    margin-top: 50px;
}

#seven p a{
    text-decoration: none;
    color: #3ee0c5;
    background-color: transparent;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
    #one
    {
        margin-left: 100px;
    }
    #two
    {
        flex-basis: 100%;
        margin-top: -40px;
        margin-left: 30px;
    }
    #three
    {
        margin-bottom: 45px;
    }
    #four
    {
        flex-basis: 70%;
    }
    #four li
    {
        margin-left: 25px;
    };
    #fifth
    {
        margin-top: -10px;
        height: 165px;
        flex-basis: 60%;
    }
    #six
    {
        margin-top: 30px;
        flex-basis: 70%;
        height: 175px;
    }
    #seven
    {
        margin-top: -2px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    body main figure 
  {
    width: 48%;
  }
  body main figure figcaption
  {
    font-size: 24px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
{
    body main figure 
  {
    width: 31.7%;
  } 
    body main figure figcaption
    {
    font-size: 22px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    body main figure 
    {
        width: 31.7%;
    }
    body main figure figcaption
    {
    font-size: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{  
    body main figure
    {
        width: 23.4%;
    }
    body main figure figcaption
    {
    font-size: 18px;
    }
}
