*{
    /* outline: 1px dashed rgb(255, 255, 255); */
    outline-offset: -1px;
    margin: 0;
    padding: 0;
    background-color:#000000;
}

body{
    background-color: #b594e94f;
    margin: 10px;
    padding: 10px;
}

body header{
    align-self: center;
    text-decoration: none;
    border-bottom-style: solid;
    border-width: 6px;
    border-color: #A4749F;
}

body header nav{
    background-color: #b594e94f;
    width: 100%;
    height: 30%;
    margin: auto;
    align-content: center;
    text-align: center;
}
body header nav ul{
    background-color: transparent;
    list-style: none;
    display: inline-block;
    padding:10px;
 }

body header nav ul li{
    background-color: transparent;
     float: left;
     margin: 10px;
 }

body header nav a{
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    color:#FDECFB;
    text-shadow: 0 0 2px #000000;
}

body main{
    align-content: right;
    text-align: center;
    margin-left: 0%;
    background-color: transparent;
}

body main iframe{
    width: 60%;
    height: 579px;
    margin: 2%;
}
body main table{
    background-color: rgb(49, 37, 67);
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: auto;
    padding: 1%;
    border-collapse: separate;
    border-spacing: 10px;
}

body main table tr{
    background-color: rgba(49,37,67, 0.1);
}

body main table tr th{
    background-color: rgba(49,37,67);
    width: 50%;
    height: auto;
}

body main table tr th h1{
    background-color: transparent;
    text-decoration: none;
    text-align: left;
    color: #FDECFB;
    font-family: "Puritan", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body main table tr th h2{
    background-color: transparent;
    text-decoration: none;
    text-align: left;
    color: #FDECFB;
    font-family: "Puritan", sans-serif;
    font-weight: 400;
    font-style: italic;
}

body main table tr th p{
    background-color: transparent;
    text-decoration: none;
    text-align: left;
    color: #FDECFB;
    font-family: "Puritan", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-orientation: sideways;
}

body main table tr th p span{
    background-color: transparent;
    text-decoration: none;
    text-align: left;
    color: #FDECFB;
    font-family: "Puritan", sans-serif;
    font-weight: 400;
    font-style: italic;
    white-space: nowrap;
}

body main table tr td{
    background-color: rgba(49,37,67);
    width: 50%;
    height: auto;
}

body main table tr td img{
    max-width: 100%;
    max-width: 100%;
    min-width: 20%;
    min-height: 20%;
    align-items: center;
}

body footer{
    margin-top: 5%;
}