main{
    align-content: right;
    text-align: center;
    margin-left: 0%;
    background-color: transparent;
}

table{
    background-color: rgb(49, 37, 67);
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: auto;
    padding: 1%;
    border-collapse: separate;
    border-spacing: 10px;
}

table tr td{
    background-color: rgba(49,37,67);
    width: 50%;
    height: auto;
}

table tr td img{
    width: 100%;
}

iframe{
    width: 60%;
    height: 204px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (min-width: 400px) 
{
    iframe{
        width: 100%;
        height: 242px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 750px) and (min-width: 600px) 
{
    iframe{
        width: 100%;
        height: 360px;
    }
}

/* Medium devices (landscape tablets, 750px and up) */
@media only screen and (min-width: 750px)
{
    iframe{
        width: 60%;
        height: 240px;
    }
}
/* Large devices (laptops/desktops, 990px and up) */
@media only screen and (min-width: 990px)
{
    iframe{
        width: 60%;
        height: 404px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{
    table tr td img{
        width: 100%;
    }
    iframe{
        width: 60%;
        height: 504px;
    }
}