body main{
    padding: 10px;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2%;

}

body main div{
    flex-basis: 80%;
    background-color: #382e48;
}

body main div figcaption{
    background-color: #382e48;
}

body main div h2{
    width: 100%;
    font-size: 28px;
}

body main div h3{
    width: 100%;
    font-size: 22px;
}

body main div p{
    width: 100%;
    background-color: #382e48;
    font-size: 18px;
}

body main div span{
    flex-basis: 100%;
    height: 40px;
    align-self: center;
    color: #3ee0c5;
    background-color: #382e48;
}
/* 
body>main>div{
    margin-top: 5%;
} */

#textbox1{
    margin-top: 5%;
}
#textbox2{
    margin-top: 5%;
}
#textbox3{
    margin-top: 5%;
}
#textbox5{
    margin-top: 5%;
}
#textbox6{
    margin-top: 5%;
}
#sketch1{
    background-color: transparent;
    flex-basis: 100%;
    height: 230px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#sketch1 img{
    width: 49.5%;
    flex-basis: 50%;
}

#sketch2{
    background-color: transparent;
    flex-basis: 100%;
    height: 230px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#sketch2 img{
    width: 32.7%;
    flex-basis: 50%;
}
iframe{
    width: 60%;
    height: 204px;
}
.ᓚᘏᗢᓚᘏᗢ
{
    position: fixed;
    top: 89%;
    right: 6%;
    height: 30px;
    width: 30px;
    background-color: transparent;
}
.ᓚᘏᗢᓚᘏᗢ a
{
    background-color: red;
}
.ᓚᘏᗢᓚᘏᗢ a img
{
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.ᓚᘏᗢᓚᘏᗢ2
{
    position: fixed;
    top: 93.8%;
    right: 6%;
    height: 30px;
    width: 30px;
    background-color: transparent;
}
.ᓚᘏᗢᓚᘏᗢ2 a
{
    background-color: red;
}
.ᓚᘏᗢᓚᘏᗢ2 a img
{
    height: 100%;
    width: 100%;
    background-color: transparent;
}

/* Extra smaller devices (phones, 400px and down) */
@media only screen and (max-width: 400px) and (min-width:325px)
{
    body{
        background-color:antiquewhite;
    }
    #sketch1{
        margin-left: 10px;
        flex-basis: 100%;
    }
    #sketch1{
        margin-left: 10px;
        flex-basis: 100%;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (min-width: 400px) 
{
    /* body{
        background-color: #3ee0c5;
    } */
    #sketch1{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch2{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }  
    iframe{
        width: 100%;
        height: 242px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 750px) and (min-width: 600px) 
{
    #sketch1{
        flex-basis: 100%;
        height: 25%;
    }
    #sketch2{
        flex-basis: 100%;
        height: 25%;
    }
    iframe{
        width: 100%;
        height: 360px;
    }
}

/* Medium devices (landscape tablets, 750px and up) */
@media only screen and (min-width: 750px)
{
    #sketch1{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch2{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    iframe{
        width: 60%;
        height: 240px;
    }
}
/* Large devices (laptops/desktops, 990px and up) */
@media only screen and (min-width: 990px)
{
    #sketch1{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    
    #sketch2{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    iframe{
        width: 60%;
        height: 404px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{  
    body main{
        margin-left: 10%;
    }
    body main div{
        flex-basis: 82%;
    }

    #sketch1{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch1 img{
        width: 32%;
    }

    #sketch2{
        width: 100%;
        flex-basis: 100%;
        height: 25%;
    }
    #sketch2 img{
        width: 32%;
    }

    iframe{
        width: 60%;
        height: 504px;
    }
}