*{
    outline: 1px dashed rgb(255, 0, 0);
    outline-offset: -1px;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

body{
    background-color: #382e48;
    margin: 10px;
    padding: 10px;
}

body header{
    align-self: center;
    border-bottom-style: solid;
    border-width: 6px;
    border-color: #A4749F;
    margin-bottom: 30px;
}

body header nav{
    width: 100%;
    height: 30%;
    margin: auto;
    align-content: center;
    text-align: center;
}

body header nav ul{
    background-color: transparent;
    list-style: none;
    display: inline-block;
    padding:10px;
 }

body header nav ul li{
    background-color: transparent;
     float: left;
     margin: 10px;
 }

body header nav a{
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    color:#FDECFB;
    font-size: 17px;
    text-shadow: 0px 0px 2px #000000;
}

body main{
    align-content: right;
    margin-left: 0%;
    background-color: #382e48;
}


body main h1{
    max-width: 70%;
    max-height: 70%;
    text-align: left;
    color: #FDECFB;
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
    font-style: 24px;
    background-color: #382e48;
}

body main h2{
    max-width: auto;
    max-height: auto;
    text-decoration: none;
    text-align: left;
    color: #FDECFB;
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
    font-style: 2px;
    background-color: #382e48;
    margin-bottom: 10px;
}

body main p{
    max-width: 100%;
    max-height: 100%;
    text-decoration: none;
    text-align: left;
    color: #FDECFB;
    font-family: "Puritan", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-orientation:sideways;
    background-color: #382e48;
}

footer{
    margin-top: 5%;
    background-color: #382e48;
}

footer p{
    align-content: right;
    color: #FDECFB;
    background-color: #382e48;
}