*{
    outline: 1px dashed rgb(255, 255, 255);
    outline-offset: -1px;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-color: #B494E9;
    margin: 10px;
    padding: 10px;
}

body header{
    align-self: center;
    text-decoration: none;
}

body header nav{
    width: 100%;
    height: 30%;
    margin: auto;
    align-content: center;
    text-align: right;
}
body header nav ul{
    list-style: none;
    display: inline-block;
    padding:10px;
 }

body header nav ul li{
     float: left;
     margin: 10px;
 }
body header nav a{
    text-decoration: none;
    font-weight: bold;
    color:#FFAF8B;
    text-shadow: 0 0 2px #000000;
}

hr{
    color: #FFAF8B;
}

main{
    align-content: right;
    margin-left: 0%;
}

main h1{
    color: #FFAF8B;
    text-shadow: 0 0 5px #000000;
    margin-top: 2%;
}
main table{
    margin-right: auto;
    margin-left: auto;
    padding: 1%;
    border-collapse: separate;
    border-spacing: 10px;
}

main table tr td h1{
    color: #FFAF8B;
    text-shadow: 0 0 5px #000000;
    margin-top: 2%;
    /* font-family: "Puritan", sans-serif;
    font-weight: 400;
    font-style: normal; */
}

main h2{
    color: #FFAF8B;    
    text-shadow: 0 0 2px #000000;
    margin-top: 2%;
    /* font-family: "Puritan", sans-serif;
    font-weight: 400;
    font-style: normal; */
}

main p{
    text-align: left;
    color: #FFAF8B;
    text-shadow: 0 0 2px #000000;
    margin-top: 2%;
    width: 20%;
    height: 10%;
    font-family: "Puritan", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main img{
    margin-right: auto;
}

footer{
    margin-top: 5%;
}

footer iframe{
    align-content: right;
}