*{
    /* outline: 1px dashed rgb(255, 255, 255); */
    outline-offset: -1px;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 10px;
    padding: 10px;
}

body header{
    align-self: center;
    border-bottom-style: solid;
    border-width: 6px;
    border-color: #A4749F;
}

body header nav{
    background-color: #382e48;
    width: 100%;
    height: 30%;
    text-align: center;
}

body header nav ul{
    display: inline-block;
    padding:10px;
 }

body header nav ul li{
     float: left;
     margin: 10px;
 }

body header nav a{
    text-decoration: none;
    font-weight: bold;
    color:#FDECFB;
    text-shadow: 0 0 2px #000000;
}

body main{
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

body main table{
    background-color: rgb(49, 37, 67);
}

body main table th{
    width: 25%;
    background-color: rgb(49, 37, 67);
    border: #000000;
    border-width: 1px;
}
body main table th img{
    width: 100%;
    background-color: rgb(49, 37, 67);
}

body main table td{
    width: 80%;
    padding: 10px;
    background-color: rgb(49, 37, 67);
}

#one{
    width: 100%;
    background-color: #382e48;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 2px 2px 5px 2px #000000;
    flex-basis: 100%;
    height: 40px;
}
#one h2{
    text-align: center;
}
#one h2 a{
    text-decoration: none;
    color: #3ee0c5;
    background: transparent;
}

#two{
    width: 100%;
    background-color: #382e48;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 2px 2px 5px 2px #000000;
    flex-basis: 100%;
    height: 40px;
}
#two h2{
    text-align: center;
}
#two h2 a{
    text-decoration: none;
    color: #3ee0c5;
    background: transparent;
}